$white: #ffffff;
$black: #333333;
$primaryColor: #2a73cc;
$blueLight: rgba(42, 115, 204, 0.04);
$borderLight: #eaedf1;
$borderDark: #d8dee5;
$grey: rgba(51, 51, 51, 0.6);
$greyLight: rgba(51, 51, 51, 0.4);
