* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333333;
}

input,
button,
select,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  outline: none;
}

input {
  line-height: normal;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 576px) {
  .container {
    max-width: 572px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 752px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1172px;
  }
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkbox input {
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox input:checked ~ span {
  background-color: #2a73cc;
  border: 1px solid #2a73cc;
}

.checkbox input:checked ~ span::after {
  visibility: visible;
  opacity: 1;
}

.checkbox span {
  position: relative;
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #d8dee5;
  border-radius: 3px;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.checkbox span:hover {
  border: 1px solid rgba(42, 115, 204, 0.6);
}

.checkbox span::after {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 2.3px;
  left: 5.5px;
  content: "";
  display: block;
  width: 4.5px;
  height: 8.5px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.btn {
  width: 80px;
  line-height: 18px;
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 6px;
  font-weight: 700;
}

.btn--primary {
  color: #ffffff;
  background-color: #2a73cc;
  border: 1px solid #2a73cc;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.btn--primary:hover {
  background-color: #1f66bb;
}

.btn--secondary {
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #d8dee5;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.btn--secondary:hover {
  border: 1px solid rgba(42, 115, 204, 0.6);
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, right top, from(#f2f2f2), to(#cecece)) no-repeat;
  background: linear-gradient(to top right, #f2f2f2, #cecece) no-repeat;
}

.modal {
  max-width: 600px;
  width: 100%;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.modal__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  padding: 15px 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #eaedf1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.modal__head img {
  cursor: pointer;
}

.modal__body {
  padding: 6px 20px 20px;
  background-color: #ffffff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.modal__body .channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
}

.modal__body .channels .channel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  padding: 4px 4px 8px;
  border-radius: 6px;
}

.modal__body .channels .channel__item:hover {
  background-color: rgba(42, 115, 204, 0.06);
}

.modal__body .channels .channel__item .item-logo {
  width: 64px;
  margin-bottom: 4px;
}

.modal__body .main-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
  margin-bottom: 20px;
}

.modal__body .main-action .main-action__search-bar {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.modal__body .main-action .main-action__search-bar input {
  line-height: 16px;
  width: 100%;
  padding: 9px 12px 9px 36px;
  border-radius: 6px;
  border: 1px solid #d8dee5;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.modal__body .main-action .main-action__search-bar input:hover {
  border: 1px solid rgba(42, 115, 204, 0.6);
}

.modal__body .main-action .main-action__search-bar input:focus {
  border: 1px solid rgba(42, 115, 204, 0.6);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.modal__body .main-action .main-action__search-bar input::-webkit-input-placeholder {
  color: rgba(51, 51, 51, 0.4);
}

.modal__body .main-action .main-action__search-bar input:-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.4);
}

.modal__body .main-action .main-action__search-bar input::-ms-input-placeholder {
  color: rgba(51, 51, 51, 0.4);
}

.modal__body .main-action .main-action__search-bar input::placeholder {
  color: rgba(51, 51, 51, 0.4);
}

.modal__body .main-action .main-action__search-bar img {
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  cursor: pointer;
}

.modal__body .main-action .main-action__btn-add-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 10px;
  padding: 9px 12px 9px 8px;
  border: none;
  background-color: #2a73cc;
  color: #ffffff;
  font-weight: 700;
  border-radius: 6px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.modal__body .main-action .main-action__btn-add-account:hover {
  background-color: #1f66bb;
}

.modal__body .main-action .main-action__btn-add-account img {
  margin-right: 4px;
}

.modal__body .main-action .main-action__btn-refresh {
  padding: 8px;
  border: 1px solid #d8dee5;
  background-color: #ffffff;
  border-radius: 6px;
  margin-left: 10px;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.modal__body .main-action .main-action__btn-refresh:hover {
  border: 1px solid rgba(42, 115, 204, 0.6);
}

.modal__body #accountTable {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #eaedf1;
}

.modal__body #accountTable th,
.modal__body #accountTable td {
  padding: 13px 12px;
  border: 1px solid #eaedf1;
  text-align: left;
}

.modal__body #accountTable th:first-child {
  width: 42px;
}

.modal__body #accountTable tr:nth-child(odd) {
  background-color: rgba(42, 115, 204, 0.04);
}

.modal__body #accountTable tr:hover {
  background-color: rgba(42, 115, 204, 0.06);
}

.modal__body .datapicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.modal__body .datapicker .datapicker__item {
  width: calc(50% - 6px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__body .datapicker .datapicker__item label {
  font-weight: 500;
  margin-bottom: 6px;
}

.modal__body .datapicker .datapicker__item input {
  width: 100%;
  padding: 6px 12px;
  line-height: 20px;
  border: 1px solid #d8dee5;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.modal__body .datapicker .datapicker__item input::-webkit-calendar-picker-indicator {
  opacity: 0.3;
  margin-right: -6px;
}

.modal__body .datapicker .datapicker__item input:hover {
  border: 1px solid rgba(42, 115, 204, 0.6);
}

.modal__body .datapicker .datapicker__item .dropdown {
  position: relative;
}

.modal__body .datapicker .datapicker__item .dropdown:hover .dropdown__list {
  visibility: visible;
  opacity: 1;
}

.modal__body .datapicker .datapicker__item .dropdown::before {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 100%;
}

.modal__body .datapicker .datapicker__item .dropdown .dropdown__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #d8dee5;
  padding: 8px 8px 8px 12px;
  border-radius: 6px;
  line-height: 18px;
  cursor: pointer;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.modal__body .datapicker .datapicker__item .dropdown .dropdown__select:hover {
  border: 1px solid rgba(42, 115, 204, 0.6);
}

.modal__body .datapicker .datapicker__item .dropdown .dropdown__list {
  visibility: hidden;
  opacity: 0;
  border: 1px solid #d8dee5;
  list-style: none;
  width: 100%;
  padding: 8px 8px;
  border-radius: 6px;
  margin-top: 4px;
  position: absolute;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.modal__body .datapicker .datapicker__item .dropdown .dropdown__item {
  padding: 9px 8px;
  line-height: 18px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.modal__body .datapicker .datapicker__item .dropdown .dropdown__item:hover {
  background-color: rgba(42, 115, 204, 0.08);
}

.modal__body .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 36px;
}

.modal__body .btn-group button + button {
  margin-left: 10px;
}
/*# sourceMappingURL=style.css.map */